USE [master]
GO
/****** Object:  Database [CKCClassroom]    Script Date: 02/04/2021 20:41:39 ******/
CREATE DATABASE [CKCClassroom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CKCClassroom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CKCClassroom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CKCClassroom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CKCClassroom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CKCClassroom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CKCClassroom]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[MABV] [char](10) NOT NULL,
	[TIEUDE] [nvarchar](50) NULL,
	[NOIDUNG] [text] NULL,
	[NGAYTAO] [date] NULL,
	[LOAIBV] [tinyint] NULL,
	[MATK] [char](10) NULL,
	[MALHP] [char](10) NULL,
	[TRANGTHAI] [tinyint] NULL,
	[MACD] [char](10) NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[MABV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MABL] [char](10) NOT NULL,
	[NOIDUNG] [text] NULL,
	[NGAYTAO] [datetime] NULL,
	[MABV] [char](10) NULL,
	[MATK] [char](10) NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MABL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [char](10) NOT NULL,
	[TENBM] [nvarchar](50) NULL,
	[NGAYLAP] [date] NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_BOMON] PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [char](10) NOT NULL,
	[MALHP] [char](10) NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE](
	[MAFILE] [char](10) NOT NULL,
	[TENFILE] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL,
	[DUOIFILE] [varchar](50) NULL,
	[SIZE] [int] NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_FILE] PRIMARY KEY CLUSTERED 
(
	[MAFILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE_BAIVIET]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_BAIVIET](
	[MAFILE_BV] [char](10) NOT NULL,
	[MAFILE] [char](10) NULL,
	[MABV] [char](10) NULL,
 CONSTRAINT [PK_FILE_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[MAFILE_BV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [char](10) NOT NULL,
	[TENGV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATK] [char](10) NULL,
	[MABM] [char](10) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MALH] [char](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL,
	[TRANGTHAI] [tinyint] NULL,
	[MABM] [char](10) NULL,
 CONSTRAINT [PK_LOPHOC] PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOCPHAN]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOCPHAN](
	[MALHP] [char](10) NOT NULL,
	[TENLHP] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL,
	[HOCKY] [smallint] NULL,
	[TRANGTHAI] [tinyint] NULL,
	[MAGV] [char](10) NULL,
	[MABM] [char](10) NULL,
	[MALH] [char](10) NULL,
	[MAMH] [char](10) NULL,
	[CHINHSACH] [smallint] NULL,
 CONSTRAINT [PK_LOPHOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MALHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[TINCHI] [smallint] NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[TENSV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATK] [char](10) NULL,
	[MABM] [char](10) NULL,
	[MALH] [char](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SV_LHP]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV_LHP](
	[MASV_LHP] [char](10) NOT NULL,
	[MASV] [char](10) NULL,
	[MALHP] [char](10) NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_SV_LHP] PRIMARY KEY CLUSTERED 
(
	[MASV_LHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 02/04/2021 20:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [char](10) NOT NULL,
	[TAIKHOAN] [char](10) NULL,
	[MATKHAU] [varchar](100) NULL,
	[TRANGTHAI] [tinyint] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_CHUDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_CHUDE]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_LOPHOCPHAN] FOREIGN KEY([MALHP])
REFERENCES [dbo].[LOPHOCPHAN] ([MALHP])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_LOPHOCPHAN]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_TAIKHOAN]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_BAIVIET] FOREIGN KEY([MABV])
REFERENCES [dbo].[BAIVIET] ([MABV])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_BAIVIET]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[CHUDE]  WITH CHECK ADD  CONSTRAINT [FK_CHUDE_LOPHOCPHAN] FOREIGN KEY([MALHP])
REFERENCES [dbo].[LOPHOCPHAN] ([MALHP])
GO
ALTER TABLE [dbo].[CHUDE] CHECK CONSTRAINT [FK_CHUDE_LOPHOCPHAN]
GO
ALTER TABLE [dbo].[FILE_BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_FILE_BAIVIET_BAIVIET] FOREIGN KEY([MABV])
REFERENCES [dbo].[BAIVIET] ([MABV])
GO
ALTER TABLE [dbo].[FILE_BAIVIET] CHECK CONSTRAINT [FK_FILE_BAIVIET_BAIVIET]
GO
ALTER TABLE [dbo].[FILE_BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_FILE_BAIVIET_FILE] FOREIGN KEY([MAFILE])
REFERENCES [dbo].[FILE] ([MAFILE])
GO
ALTER TABLE [dbo].[FILE_BAIVIET] CHECK CONSTRAINT [FK_FILE_BAIVIET_FILE]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_BOMON]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_BOMON]
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOCPHAN_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[LOPHOCPHAN] CHECK CONSTRAINT [FK_LOPHOCPHAN_BOMON]
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOCPHAN_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPHOCPHAN] CHECK CONSTRAINT [FK_LOPHOCPHAN_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOCPHAN_LOPHOC] FOREIGN KEY([MALH])
REFERENCES [dbo].[LOPHOC] ([MALH])
GO
ALTER TABLE [dbo].[LOPHOCPHAN] CHECK CONSTRAINT [FK_LOPHOCPHAN_LOPHOC]
GO
ALTER TABLE [dbo].[LOPHOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOCPHAN_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[LOPHOCPHAN] CHECK CONSTRAINT [FK_LOPHOCPHAN_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_BOMON]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOPHOC] FOREIGN KEY([MALH])
REFERENCES [dbo].[LOPHOC] ([MALH])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOPHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[SV_LHP]  WITH CHECK ADD  CONSTRAINT [FK_SV_LHP_LOPHOCPHAN] FOREIGN KEY([MALHP])
REFERENCES [dbo].[LOPHOCPHAN] ([MALHP])
GO
ALTER TABLE [dbo].[SV_LHP] CHECK CONSTRAINT [FK_SV_LHP_LOPHOCPHAN]
GO
ALTER TABLE [dbo].[SV_LHP]  WITH CHECK ADD  CONSTRAINT [FK_SV_LHP_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[SV_LHP] CHECK CONSTRAINT [FK_SV_LHP_SINHVIEN]
GO
USE [master]
GO
